
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "About us";
}

<div class="about">
    <h1>About us</h1>
    <img src="~/upload/americano.png" style="width:500px" />
    <p style="font-size:25px">Luôn đem lại những gì tuyệt vời đến với bạn!</p>
</div>


